* {
    margin: 0;
    padding: 0;
    font-family: 'roboto mono' , sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebe6ea;
}

.container {
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: #ebe6ea;
    margin: 10px;
    border-radius: 20px;
}

header p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.select-buttons {
    background-color: #ebe6ea;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px;
    border-radius: 20px;

}

button {
    border-radius: 20px;
    padding: 10px;
    background-color: #e4c5c4;
    margin: 20px;
    width: 150px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ebe6ea;
    width: 100%;
    margin: 10px;
    border-radius: 20px;
}

i {
    font-size: 20px;
    color: white;
}

.title {
    font-size: 40px;
    color: #040D12;
    margin-top: 20px;
    font-family: 'Bungee Spice';
}

p {
    font-size: 30px;
    font-weight: 700;
}

.margin {
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    margin: 20px;
}

.winner {
    font-size: 50px;
    margin: 100px;
}